APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 103.144.148.89DATABASE = bot_redUSERNAME = bot_redPASSWORD = 5PHAWZjGJfx73zHeHOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn[REDIS]REDIS_HOST = 127.0.0.1REDIS_PASSWORD =REDIS_SELECT = 3[BOT]BOT_CHARGE=0.05BOT_KEY = 7041131668:AAEkbJ0NBiJ461N9ri4s9OuBt3dXbC1dXm0